<h1>MY TIMECARD</h1>
<h4>PRODUCTS I'VE CLOCKED</h4>

<br>

<header>

<nav>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="timecard">List View</a></li>
  <li><a href="#">Product View</a></li>
  <li><a href="#">Calendar View</a></li>
</ul>
</nav>

</header>

<br>
<br>
<br>