<h1>Settings</h1>


<nav>
<ul class="nav nav-pills">
  <li class="active"> <%= link_to 'General', settings_path %> </li>
  <li> <%= link_to 'Security', settings_path %> </li>
  <li> <%= link_to 'Notifications', settings_path %> </li>
  <li> <%= link_to 'Help', settings_path %> </li>
</ul>
<nav>